<%- include('partials/header'); -%>

<section class="container-fluid">
    <h1>Home</h1>
    <p><%= homeDescription %></p>

    <% for(var i=0; i<updateAll.length; i++) { %>
    <% console.log(updateAll[i].postTitle);%>
   c <% } %>

   


    <%- include('partials/footer'); -%>