<%- include('partials/header'); -%>

<section class="container-fluid">
    <h1>Home</h1>
    <p><%= homeDescription %></p>


    <% updateAll.forEach(function(all) { %>
    <% console.log(all.postTitle); %>
    <% }); %>






    <%- include('partials/footer'); -%>